.hero{
    height: 70vh;
}
.hero .hero-text{
    margin-top: 100px;
}
.hero img{
    width: 80%;
    float: right;
}
@media (max-width: 768px) {
    .hero{
        height: 60vh;
    }
    .hero .hero-text{
        margin-top: 40px;
    }
}