.yellow{
    padding: 70px 0 150px 0;
    position: relative;
}
.yellow::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF6D2;
    right: 0;
    left: 0;
    top: 0;
    transform: skewY(8deg);
    z-index: -1;
    animation: waving-2 2s ease-in-out infinite alternate;
}
@keyframes waving-2 {
    from{
        transform: skewY(8deg);
    }
    to{
        transform: skewY(4deg);
    }
}

@media (max-width: 500px) {
    .yellow .title{
        font-size: 50px !important;
    }
}